.tbl {
    width: 100%;
    border-collapse: collapse;
}

.tbl-rw {
    background-color: #ffffff;
    padding: 10px;

}

.tbl-hd {
    padding: 10px;
    background-color: rgb(51, 51, 51);
    color: #ffffff;

}

.tbl-dt {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;

}
